venv/
.clang-format
.DS_Store
.tags
.ipynb_checkpoints
.idea
.overlay_init
.overlay_consistent
.sconsign.dblite
.vscode*
model2.png
a.out
.hypothesis

*.dylib
*.DSYM
*.d
*.pyc
*.pyo
.*.swp
.*.swo
.*.un~
*.tmp
*.o
*.o-*
*.os
*.os-*
*.so
*.a
*.clb
*.class
*.pyxbldc
*.vcd
config.json
clcache
compile_commands.json

persist
board/obj/
selfdrive/boardd/boardd
selfdrive/logcatd/logcatd
selfdrive/mapd/default_speeds_by_region.json
selfdrive/proclogd/proclogd
selfdrive/ui/_ui
selfdrive/test/longitudinal_maneuvers/out
selfdrive/visiond/visiond
selfdrive/loggerd/loggerd
selfdrive/loggerd/bootlog
selfdrive/sensord/_gpsd
selfdrive/sensord/_sensord
selfdrive/camerad/camerad
selfdrive/camerad/test/ae_gray_test
selfdrive/modeld/_modeld
selfdrive/modeld/_dmonitoringmodeld
/src/

one
openpilot
notebooks
xx
yy
hyperthneed
panda_jungle
provisioning

.coverage*
coverage.xml
htmlcov
pandaextra

.mypy_cache/
flycheck_*

cppcheck_report.txt
comma*.sh

selfdrive/modeld/thneed/compile
models/*.thneed

*.bz2

build/

!**/.gitkeep

*.po~
/selfdrive/logcatd/
/selfdrive/loggerd/
/selfdrive/monitoring/
/selfdrive/proclogd/
/selfdrive/test/
/models/dmonitoring_model_q.dlc
/selfdrive/athena/
/selfdrive/manager/test/
/selfdrive/car/gm/
/selfdrive/car/ford/
/selfdrive/car/tesla/
/selfdrive/car/chrysler/
/selfdrive/car/tests/
/tools/
/docs/
/opendbc/tesla*.dbc
/opendbc/ford*.dbc
/opendbc/gm*.dbc
/opendbc/chrysler*.dbc
/selfdrive/modeld/models/dmonitoring.*
/selfdrive/modeld/dmonitoring*
/selfdrive/ui/replay/
/selfdrive/camerad/snapshot/
/common/api/
/selfdrive/assets/navigation/
/selfdrive/assets/training_wide/
/selfdrive/boardd/pigeon.cc
/selfdrive/boardd/pigeon.h
/rednose/helpers/ekf_sym_pyx.cpp
/selfdrive/locationd/generated/
/selfdrive/locationd/ublox*
/third_party/acados/larch64/
/third_party/acados/x86_64/
/third_party/kaitai/
/selfdrive/tombstoned.py
/release/files_pc
/release/files_tici


!/third_party/acados/aarch64/lib/*
!/third_party/libyuv/lib/libyuv.a
!/third_party/snpe/aarch64-android-clang6.0/*
!/third_party/snpe/dsp/*
!/third_party/snpe/aarch64-linux-gcc4.9/*
!/third_party/bzip2/*
